.jfx-button {
    -fx-background-color: #95e743;
    -fx-text-fill: #ffffff;
}
#globalButton, #followingButton {
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-size: 36px;
}
.button:enabled {
    -fx-font-weight: normal;
}
.button:disabled {
    -fx-font-weight: bold;
    -fx-opacity: 1;
    -fx-border-color: #95e743;
    -fx-padding: 6 6 2 6;
    -fx-border-width: 0 0 6 0;
}
.button:hover{
    -fx-cursor: hand;
}
.table-view {
    -fx-background-color: #F8F8F8;
}
.table-view .column-header {
    -fx-background-color: #95e743;
}

.table-view .cell {
    -fx-alignment: center-left;
}
.table .column{
    -fx-border-width: 0 0 0 0;
}
.table-row-cell {
    -fx-cell-size: 60px;
    -fx-border-width: 0 0 0.5 0;
    -fx-border-color: #8c8686;
    -fx-background-color: rgb(235,235,235);;
}
.table-row-cell:selected {
    -fx-background-color: #BCB8B7;
}
#usernameColumn{
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
#rankColumn {
    -fx-font-size: 14px;
    -fx-alignment: center;
}
.table-view .column-header .text {
    -fx-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}