.button:enabled{
    font-weight: normal;
    text-decoration: none;
}
.button:disabled{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #95e743;
}
.jfxbutton{
    -fx-background-color: #95e743;
}
#globalButton, #followingButton{
    -fx-background-color: rgba(0,0,0,0);
    font-weight: bold;
}