.jfx-button {
    -fx-background-color: #95e743;
    -fx-text-fill: #ffffff;
}
#globalButton, #followingButton {
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-size: 36px;
}
.button:enabled {
    -fx-font-weight: normal;
}
.button:disabled {
    -fx-font-weight: bold;
    -fx-opacity: 1;
    -fx-border-color: #95e743;
    -fx-padding: 6 6 2 6;
    -fx-border-width: 0 0 6 0;
}
.button:hover{
    -fx-cursor: hand;
}
#table{
    -fx-background-color: transparent;
}