.scroll-pane > .viewport {
    -fx-background-color: #e5e5e5;
    -fx-border-radius: 10 0 0 10;
}

.viewport {
    -fx-background-radius: 10 0 0 10;
    -fx-border-radius: 10 0 0 10;
}

.scroll-bar:vertical {
    -fx-background-color:transparent;
    -fx-padding: 2 -1 2 -2;
}

.scroll-bar:vertical .increment-button,.scroll-bar:vertical .decrement-button,
.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-radius: 5em;
}

JFXButton {
    -fx-opacity: 30%;
}

.default-color0.chart-legend-item-symbol, .default-color1.chart-legend-item-symbol {
    -fx-background-color: #95e743;
}

.default-color0.chart-bar, .default-color1.chart-bar {
    -fx-bar-fill: #95e743;
}